img{
  max-width: 100%;
  height:202px;
}
figcaption{
  text-align:center;
  font-size: 24px;
}
.container{
  margin-top:20px;
}

.card{
  margin-top:30px;
}

#full-image2{
  display:none;
}

#full-image3{
  display:none;
}

.bg-light{
  height:140px;
}

.navbar-brand img{
  height: 130px;
}